<div class='set_0 page'>
	<!-- static content -->
	<div class='section'>
		<div class='title'>
			Goal of the game! 
		</div>
		<div class='content'>
			<div class='paragraph'>
				The game is inspired by a well known logical puzzle know by different names like Zebra puzzle or Einstein Riddle.
			</div>
			<div class='paragraph'>
			The goal of the game is to figure out from a set of clues what each people 'owns', we use a grid to represent the relation between people and objects.
			</div>
	</div>
	<div class='section'>
		<div class='title'>Grid Lines</div>
		<div class='content'>
			Each line of the grid have a category, for example first line contains only people, the second line contains only fruits and so on.
		</div>
		<div class='sp-lines'></div>
	</div>
	
	<div class='section'>
		<div class='title'>Grid Columns</div>
		<div class='content'>
			<div class='paragraph'>
				Columns represent the relations between objects, objects in the same column have a direct relation, for example the clue: "The girl eats oranges." means that the girl and orange is at the same column, we could also write "The girl owns oranges.",
				"The girl sells oranges.", to simplify things we use symbolic clues with explicit meaning so direct relations are write like this: "The girl is at same column as the orange." and we represented like this
				<span class='var_0_0 tut_size'></span>
				<span class='ion-android-more-vertical tut_symbol_size'></span>
				<span class='var_1_1 tut_size'></span>.
			</div>
			
			<div class='sp-columns'></div>

			<div class='paragraph'>
				Other types of clues express indirect relation, for example "Girl lives on the left of guy who owns the oranges", 
				this would be expressed as "Girl is immediately to the left of orange", this would mean that girl would be at the column that is on
				the left of the column containing the orange and vice-versa.
			</div>
			<div class='paragraph'>
				Each cell grid start with all possible items, and we need to eliminate the ones that don't belong on that cell, or we need to fill each cell with the correct item.
			<div class='sp-cells'></div>
			
			<div class='paragraph'>
				Here is an example of start to goal.
			</div>
			<div class='board-start-to-goal'></div>
		</div>
	</div>
</div>
