<div class='set_0 page'>
	<div class='section'>
		<div class='title'>
			Clues Handbook
		</div>
		
		<div class='content'>
			<div class='note'>
				NOTE: This is a fast reference to clues, to better 
				understand the all game please complete the start pack.
			</div>
		</div>
	</div>
	
	<div class='section'>
		<div class='title'>
			Left To Column Clue
		</div>
		<div class='content'>
			The symbol
			<span class='ion-arrow-right-b tut_symbol_size'></span>
			means "immediately to the left of". For example the clue
			<span class='var_1_1 tut_size' ></span>
			<span class='ion-arrow-right-b tut_symbol_size'></span>
			<span class='var_0_3 tut_size'></span>
			means that
			<span class='var_1_1 tut_size' ></span>
			is immediately to the left of
			<span class='var_0_3 tut_size'></span>
		</div>
	</div>
	<div class='section'>
		<div class='title'>
			Next To Column Clue
		</div>
		<div class='content'>
			The symbol
			<span class='ion-arrow-left-b tut_symbol_size'></span>
			<span class='ion-arrow-right-b tut_symbol_size'></span>
			means "next to". For example the clue
			<span class='var_3_1 tut_size' ></span>
			<span class='ion-arrow-left-b tut_symbol_size'></span>
			<span class='ion-arrow-right-b tut_symbol_size'></span>
			<span class='var_1_3 tut_size'></span>
			means that
			<span class='var_3_1 tut_size' ></span>
			is immediately to the the left OR right of
			<span class='var_1_3 tut_size'></span>
			and vice-versa.
		</div>
	</div>
	<div class='section'>
		<div class='title'>
			Same Column Clue
		</div>
		<div class='content'>				
			The symbol
			<span class='ion-android-more-vertical tut_symbol_size'></span>
			means "at the same column". For example the clue
			<span class='var_0_0 tut_size' ></span>
			<span class='ion-android-more-vertical tut_symbol_size'></span>
			<span class='var_3_2 tut_size'></span>
			means that <span class='var_0_0 tut_size' ></span>
			and
			<span class='var_3_2 tut_size'></span>
			are at the same grid column.
		</div>
	</div>
	<div class='section'>
		<div class='title'>
			Middle Clues
		</div>
		<div class='content'>
			The symbol
			<span class='ion-more tut_symbol_size'></span>
			means "in the middle". For example the clue
			<span class='ion-more tut_symbol_size'></span>
			<span class='var_0_3 tut_size' ></span>
			<span class='ion-more tut_symbol_size'></span>
			would mean that
			<span class='var_0_3 tut_size' ></span>
			is in the middle columns of the grid.
		</div>
	</div>
</div>

