<div class='set_0 page'>
	
	<div class='section'>
		<div class='title'>
			Game UI
		</div>
		<div class='content'>
			This section presents some concepts of the user UI.
		</div>
	</div>
	
	<div class='section'>
		<div class='title'>
			The Grid
		</div>
		<div class='content'>
			<div class='paragraph'>
				The grid is composed of:
			</div>

			<div class='paragraph'>					
				Cells where initial all possible items are set. 
			</div>
			<div class='paragraph'>	
				For example 
				in a 3x3 grid there is 3 items per cell in a total of 6 cells:
			</div>
			<div class='sp-cells'></div>
			
			<div class='paragraph'>
				Lines, where each line has a category (example: faces, fruits, weapons ...)
			</div>
			<div class='paragraph'>	
				For example in a 3x3 there is 3 lines:
			</div>
			<div class='sp-lines'></div>
			
			<div class='paragraph'>
				And columns, that are used for expressing items relations.
			</div>
			<div class='paragraph'>	
				For example in a 3x3 there is 3 columns:
			</div>
			<div class='sp-columns'></div>
		</div>
	</div>

	<div class='section'>
		<div class='title'>
			Clues List
		</div>
		<div class='content'>
			<div class='paragraph'>
				The clues list are located at the top:
			</div>
			<div class='sp-clues-list'></div>
					
			<div class='paragraph'>
				There is 3 clues list: A, B, F.
			</div>
			<div class='paragraph'>
				You can switch to each clue list by tapping on the clues list button.
			</div>
			
			<div class='sp-list-a'></div>
			<div class='sp-list-b'></div>
			<div class='sp-list-f'></div>
			
			<div class='paragraph'>
				The only purpose of A and B clues list is to help you organize the clues. Its very
				simple when you are done with a clue you can send that clue to the other list by tapping on that clue,
				if clue is on list A then it will be sent to list B and vice-versa.
			</div>
			
			<div class='paragraph'>
				The F clue list, is used to filter clues by item, when this list is selected you can select 
				any item on the grid, the list will show all clues containing the selected item,
			</div>
			<div class='sp-list-f-full'></div>
		</div>
	</div>

	<div class='section'>
		<div class='title'>
			Actions
		</div>
		<div class='content'>
			<div class='paragraph'>
				The action buttons are located near the clues list,
				<div class='sp-actions'></div>
				they are mainly used to perform actions on the grid,
			</div>
			
			<div class='paragraph'>
				<div 
					class='mini-button size-2 mini-button-yellow'
					style='width: 32px;'
				><i class='ion-arrow-expand'></i></div> Expand the selected item on grid.
				When you are sure that a item belongs to grid cell, then 
				you can expand it to the all cell.
			</div>
			
			<div class='paragraph'>
				<div 
					class='mini-button size-2 mini-button-yellow'
					style='width: 32px;'
				><i class='ion-plus-circled'></i></div>
				if you think you made a mistake you can re-add a removed cell item.
				When you select a cell with removed items, the removed items will show with a gray color on left top side near clues
				and if you select one of the removed items this add button will appear and you can re-add the item.
			</div>
			
			<div class='paragraph'>
				<div 
					class='mini-button size-2 mini-button-yellow'
					style='width: 32px;'
				><i class='ion-minus-circled'></i></div> Remove the selected item from the cell grid. If you are sure that 
				item does not bellong on the grid cell you can remove it.
			</div>
			
			<div class='paragraph'>	
				<div 
					class='mini-button size-2 mini-button-yellow'
					style='width: 32px;'
				><i class='ion-erlenmeyer-flask'></i></div>
				Switch to thinking mode, every changes in this mode will take effect.
				This mode helps you to highlight the grid items, so that you can visualize better the game grid on your own way.
			</div>
			
			<div class='paragraph'>	
				<div 
					class='mini-button size-2 mini-button-yellow'
					style='width: 32px;'
				><i class='ion-help-buoy'></i></div>
				Show this help.
			</div>
			
			<div class='paragraph'>	
				<div 
					class='mini-button size-2 mini-button-yellow'
					style='width: 32px;'
				><i class='ion-loop'></i></div>
				Restart game, go back to start.
			</div>
		</div>
	</div>
</div>
