<div class='set_0 page'>
	<div class='section'>
		<div class='title'>
			Middle Clues
		</div>
		<div class='content'>
			<div class='note'>
				NOTE: To return to this window just select the <i class="ion-help-buoy"></i>.<br>
				If this is your first puzzle its important to read all sections/tabs, 
				especially <span class='tag' ng-click='selectTab(2)'>"Goal"</span> and <span class='tag' ng-click='selectTab(3)'>"Game UI"</span>.
			</div>

			<div class='paragraph'>
			This puzzle only have 'Middle Clues'...
			</div>
			
			<div class='paragraph'>
				A middle clue as the symbol
				<span class='ion-more tut_symbol_size'></span> and means "in the middle". For example the clue
				<span class='ion-more tut_symbol_size'></span>
				<span class='var_0_3 tut_size'></span>
				<span class='ion-more tut_symbol_size'></span> means that this face
				<span class='var_0_3 tut_size'></span> is in the middle columns of the grid (on line face category).
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='title'>
			Example
		</div>
		<div class='content'>
			<div class='paragraph'>
			In this puzzle we have a grid of 3x3 and middle clues,
				<div class='sp-middle-clues'></div> tell us that each clue item is in the 2nd column of its line category,
			</div>
			
			<div class='sp-middle-clues-grid3x3'></div>

			<div class='paragraph'>
				On a puzzle of 4x3, middle clues tell us that the clue item is at 2nd <b>OR</b> 3rd column of its line category,
			</div>
			
			<div class='sp-middle-clues-grid4x3'></div>

			<div class='paragraph'>
				So middle clues means that the item is never at the first and last column of its line category.
			</div>
			
			</div>
		</div>
	</div>
</div>
