<div class='set_0 page'>
	<div class='section'>
		<div class='title'>
			Next to Column Clues
		</div>
		<div class='contatent'>
			<div class='note'>
				NOTE: To return to this window just select the <i class="ion-help-buoy"></i>.<br>
				If this is your first puzzle its important to read all sections/tabs, 
				especially <span class='tag' ng-click='selectTab(2)'>"Goal"</span> and <span class='tag' ng-click='selectTab(3)'>"Game UI"</span>.
			</div>


			<div class='paragraph'>
				This puzzle only have 'Next to Column Clues' ...
			</div>
			<div class='paragraph'>
				A next to column column clue as the symbol
				<span class='ion-arrow-left-b tut_symbol_size'></span>
				<span class='ion-arrow-right-b tut_symbol_size'></span> and it means "next to". For example the clue
				<span class='var_3_1 tut_size'></span>
				<span class='ion-arrow-left-b tut_symbol_size'></span>
				<span class='ion-arrow-right-b tut_symbol_size'></span>
				<span class='var_1_3 tut_size'></span> means that
				<span class='var_3_1 tut_size'></span> is immediately to the left OR right of
				<span class='var_1_3 tut_size'></span> and vice-versa.
			</div>
			<div class='paragraph'>
				This is one of the most tricky clue in the game, because it tells us that two items are next to each other but it does not tell their order.
			</div>
		</div>
	</div>
	
	<div class='section'>
		<div class='title'>
			Example
		</div>
		<div class='content'>
			<div class='paragraph'>
				In a grid 2x2 consider the clue
				<div class='sp-next-to-clue'></div>, 
			</div>
			<div class='paragraph'>
				the face may be at left column of the orange,
			</div>
			<div class='sp-next-to-face-orange'></div>
			
			<div class='paragraph'>
				or it can be at the right,
			</div>
			<div class='sp-next-to-orange-face'></div>

			<div class='paragraph'>
				In a grid 3x2, illustrating the same clue possibilities would look something like this:
			</div>

			<div class='paragraph'>
				If face is in the middle then orange may be in the left column or the right column,
				<div class='sp-next-to-orange-face-orange'></div>

				If orange is in the middle then face may be in the left column or the right column,
				<div class='sp-next-to-face-orange-face'></div>
			</div>
		</div>
	</div>
</div>
