<div class='set_0 page'>
	<div class='section' >
		<div class='title'>
			Same Column Clues
		</div>
		<div class='content'>
			<div class='note'>
				NOTE: To return to this window just select the <i class="ion-help-buoy"></i>.<br>
				If this is your first puzzle its important to read all sections/tabs, 
				especially <span class='tag' ng-click='selectTab(2)'>"Goal"</span> and <span class='tag' ng-click='selectTab(3)'>"Game UI"</span>.
			</div>


			<div class='paragraph'>
				This puzzle only have 'Same Column Clues'...
			</div>
			
			<div class='paragraph'>
				A same column clue as the symbol
				<span class='ion-android-more-vertical tut_symbol_size'></span> and means "at the same column". For example the clue
				<span class='var_0_0 tut_size'></span>
				<span class='ion-android-more-vertical tut_symbol_size'></span>
				<span class='var_3_2 tut_size'></span> means that this face <span class='var_0_0 tut_size'></span> and
				<span class='var_3_2 tut_size'></span> are in the same column.
			</div>
		</div>
	</div>
	
	<div class='section'>
		<div class='title'>
			Example
		</div>
		<div class='content'>			
			<div class='paragraph'>
				In this puzzle we have a grid of 3x3 and the same column clue,
				<div class='sp-same-column-clue'></div> tell us that there is only 3 possible position for each clue item,				
			</div>
			<div class='sp-same-column-all'></div>
			<div class='paragraph'>
				Of course each items can't be in more than one column at the same time, so a more accurate representation would be like this:
			</div>
			<div class='paragraph'>
				first column,
			</div>
			<div class='sp-same-column-1st'></div>
			<hr>
			<div class='paragraph'>
				second column,
			</div>
			<div class='sp-same-column-2st'></div>
			<hr>
			<div class='paragraph'>
				and last column,
			</div>
			<div class='sp-same-column-3st'></div>
		</div>
	</div>
</div>
