<p>You are making the wrong choice, please consider other action.</p>
<p><ion-checkbox ng-model="settings.badchoice" ng-change='saveSettings()'>Show Bad Choice<br>Alert</ion-checkbox></p>

<div class='ad'  ng-if='showAds.badchoiceAd' ng-click='openAd(showAds.badchoiceAd)'>
	<div class='bg-image' style='background-image: url("{{showAds.badchoiceAd.imageURLWide}}");'></div>
	<div class='text'>
		<div class='square-image' style='background-image: url("{{showAds.badchoiceAd.imageURL}}");'></div>
		<div class='description'>
			<div class='title'>{{showAds.badchoiceAd.adTitle}}</div> 
			{{showAds.badchoiceAd.adDescription}}
		</div>
	</div>
</div>
