/* ------------- */

.set_0 .item_none {
	background-image: url("../res/sets/none.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

/* Sets, set 0 */
/* var_0 */ 
.set_0 .var_0_0 {
	background-image: url("../res/sets/set_0/var_0/var_0_0.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_0_1 {
	background-image: url("../res/sets/set_0/var_0/var_0_1.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_0_2 {
	background-image: url("../res/sets/set_0/var_0/var_0_2.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_0_3 {
	background-image: url("../res/sets/set_0/var_0/var_0_3.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_0_4 {
	background-image: url("../res/sets/set_0/var_0/var_0_4.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_0_5 {
	background-image: url("../res/sets/set_0/var_0/var_0_5.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

/* var_1 */
.set_0 .var_1_0 {
	background-image: url("../res/sets/set_0/var_1/var_1_0.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_1_1 {
	background-image: url("../res/sets/set_0/var_1/var_1_1.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_1_2 {
	background-image: url("../res/sets/set_0/var_1/var_1_2.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_1_3 {
	background-image: url("../res/sets/set_0/var_1/var_1_3.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_1_4 {
	background-image: url("../res/sets/set_0/var_1/var_1_4.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_1_5 {
	background-image: url("../res/sets/set_0/var_1/var_1_5.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}


/* var_2 */
.set_0 .var_2_0 {
	background-image: url("../res/sets/set_0/var_2/var_2_0.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_2_1 {
	background-image: url("../res/sets/set_0/var_2/var_2_1.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_2_2 {
	background-image: url("../res/sets/set_0/var_2/var_2_2.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_2_3 {
	background-image: url("../res/sets/set_0/var_2/var_2_3.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_2_4 {
	background-image: url("../res/sets/set_0/var_2/var_2_4.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_2_5 {
	background-image: url("../res/sets/set_0/var_2/var_2_5.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

/* var_3 */
.set_0 .var_3_0 {
	background-image: url("../res/sets/set_0/var_3/var_3_0.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_3_1 {
	background-image: url("../res/sets/set_0/var_3/var_3_1.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_3_2 {
	background-image: url("../res/sets/set_0/var_3/var_3_2.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_3_3 {
	background-image: url("../res/sets/set_0/var_3/var_3_3.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_3_4 {
	background-image: url("../res/sets/set_0/var_3/var_3_4.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_3_5 {
	background-image: url("../res/sets/set_0/var_3/var_3_5.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

/* var_4 */
.set_0 .var_4_0 {
	background-image: url("../res/sets/set_0/var_4/var_4_0.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_4_1 {
	background-image: url("../res/sets/set_0/var_4/var_4_1.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_4_2 {
	background-image: url("../res/sets/set_0/var_4/var_4_2.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_4_3 {
	background-image: url("../res/sets/set_0/var_4/var_4_3.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_4_4 {
	background-image: url("../res/sets/set_0/var_4/var_4_4.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_4_5 {
	background-image: url("../res/sets/set_0/var_4/var_4_5.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

/* var_5 */
.set_0 .var_5_0 {
	background-image: url("../res/sets/set_0/var_5/var_5_0.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_5_1 {
	background-image: url("../res/sets/set_0/var_5/var_5_1.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_5_2 {
	background-image: url("../res/sets/set_0/var_5/var_5_2.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_5_3 {
	background-image: url("../res/sets/set_0/var_5/var_5_3.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_5_4 {
	background-image: url("../res/sets/set_0/var_5/var_5_4.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.set_0 .var_5_5 {
	background-image: url("../res/sets/set_0/var_5/var_5_5.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
