<ion-view>

<ion-nav-buttons side="left">
	<a href='#/start' class='button button-positive'>Main Menu</a>
</ion-nav-buttons>
<ion-nav-title>About</ion-nav-title>

<ion-content>

<div class='content_box'>
<h1>Consistency</h1>

Consistency is a version of the well know Zebra (aka Einstein) logical puzzle.
Using a list of clues deduce the location of all pieces on different boards sizes (4x4, 4x5, 5x4, ... 6x6).

In this game you need to fill a board with images, there can be only one unique image per cell and each cell must have only one image. 
Using a list of clues you have to deduce where all the images are placed. 
For each puzzle there is only one solution and it must be consistence with the provided clues.

<h1>Author</h1>
A Game by Filipe dos Santos Vieira, for more information check <a target='_blank' href='http://www.fsvieira.com/'>fvieira.com</a>!

<h1>Credits</h1>

<h3>Game Item Graphics</h3>
<ul>
<li>Author: Ravenmore</li>
<li>Site: <a target='_blank' href='http://dycha.net'>http://dycha.net</a></li>
</ul>

<h3>Game Item Graphics (Candy)</h3>
<ul>
<li>Author: lumimae</li>
<li>Site: <a target='_blank' href='http://opengameart.org/content/candy-pack-1'>candy pack 1 (OpenGameArt)</a></li>
</ul>


<h3>Loading Icon</h3>
<ul>
<li>Author: qubodup</li>
<li>Site: <a target='_blank' href='http://opengameart.org/content/pixel-art-loading-icon-2'>Pixel Art Loading Icon 2 (OpenGameArt)</a></li>
</ul>

<h3>None Item Icon</h3>
<ul>
<li>Author: Søren "Shiu" Nielsen</li>
<li>Site: <a target='_blank' href='http://opengameart.org/content/grayscale-icons'>Grayscale Icons (OpenGameArt)</a></li>
</ul>

<h3>Music</h3>
<ul>
<li>Author: Cynicmusic</li>
<li>Site: <a target='_blank' href='http://pixelsphere.org/'>pixelsphere.org / The Cynic Project</a></li>
</ul>

<h3>Sound Efects - Click</h3>
<ul>
<li>Author: NenadSimic</li>
<li>Site: <a target='_blank' href='http://opengameart.org/content/menu-selection-click/'>Menu Selection Click (OpenGameArt)</a></li>
</ul>

<h3>Sound Efects - Show/Hide Item</h3>
<ul>
<li>Author: Michel Baradari</li>
<li>Site: <a target='_blank' href='http://opengameart.org/content/2-metal-weapon-clicks'>2 metal weapon clicks (OpenGameArt)</a></li>
</ul>


<h3>Sound Efects - Alerts</h3>
<ul>
<li>Author: legoluft</li>
<li>Site: <a target='_blank' href='http://opengameart.org/content/atmospheric-interaction-sound-pack'>Atmospheric Interaction Sound Pack (OpenGameArt)</a></li>
</ul>

<h3>Sound Efects - Flip</h3>
<ul>
<li>Author: Vinrax</li>
<li>Site: <a target='_blank' href='http://opengameart.org/content/key-pickup'>Key pickup (OpenGameArt)</a></li>
</ul>

<h3>Sound Efects - Win</h3>
<ul>
<li>Author: wobbleboxx</li>
<li>Site: <a target='_blank' href='http://opengameart.org/content/level-up-power-up-coin-get-13-sounds'>Level up, power up, Coin get (13 Sounds) (OpenGameArt)</a></li>
</ul>

</div>

</ion-content>
</ion-view>
