<ion-view >
	<ion-nav-title>Consistency</ion-nav-title>
<ion-content class='bg'>
<div class='main_menu'>
<center>
	<ul>
		<li><a class='button button-dark' href='#/packs'><i class='ion-flag'></i> Start</a></li>
		<li><button class="button button-dark" ng-click='openSettings()'><i class='ion-gear-b'></i> Settings </button></li>
		<li ng-if='showRateIt'><a class="button button-dark" ng-click='rateIt()' ><i class='ion-thumbsup'></i> Rate it!</a></li>
		<li><a class='button button-dark' href='#/about'><i class='ion-information-circled'></i> About</a></li>
	</ul>
</center>
</div>

</ion-content>
</ion-view>
